/*
   ANIMATION PLAY STATE
*/

  .a-running    { animation-play-state: running; }
  .a-paused     { animation-play-state: paused; }

@media screen and (min-width: 32em) {
  .a-running-s { animation-play-state: running; }
  .a-paused-s  { animation-play-state: paused; }
}

@media screen and (min-width:48em) {
  .a-running-m { animation-play-state: running; }
  .a-paused-m  { animation-play-state: paused; }
}

@media screen and (min-width: 96em) {
  .a-running-l { animation-play-state: running; }
  .a-paused-l  { animation-play-state: paused; }
}

